@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
}
.navbar-brand strong {
    font-weight: 900;
}
.navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #fff !important;

}
.carousel-inner button:hover{
    background-color: transparent;
}
#info h2::after{
    content: '';
    display: block;
    width: 7rem;
    height: 0.2rem;
    background-color: #71b100;
    margin-top: 0.5rem;
    margin-left: 45%;
}
#luxury h2::after{
    content: '';
    display: block;
    width: 9rem;
    height: 0.2rem;
    background-color: #71b100;
    margin-top: 0.5rem;
    margin-left: 43%;
}
#luxury button:hover{
    color: #000000 !important;
    background-color: white;
}
#contact {
    background-image: url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    position: relative;
}
#contact button:hover{
    background-color: transparent;
    color: white!important;
}
#contact .row{
    height: 25rem;

}
#blog h3::after{
    content: '';
    display: block;
    width: 8rem;
    height: 0.2rem;
    background-color: #71b100;
    margin-top: 0.5rem;
}
.testimonials .carousel-item{
    padding-left: 2rem;
}
.testimonials .testimonial {
    position: relative;
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 400;
}
.testimonials .testimonial::before{
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    left: -2rem;
    top: 0;
    font-weight: 700;
}
footer .colour {
    background-color: gray;
}
footer .colours {
    color: gray;
}
@media (min-width:768px){
    .top-bar.bg-success{
        background-color: transparent !important;
    }
    #header {
        position: relative;
    }
    header .top-bar{
        position: absolute;
        z-index: 1000;
    }
}
